<ion-view title="" id="page6">
  <ion-content padding="true" class="has-header">
  	
  	<div class="heading1">What are your wellbeing goals?</div>
	  <ion-list>
		    <ion-checkbox class="heading4">Reduce stress</ion-checkbox>
		    <ion-checkbox class="heading4">Lose weight</ion-checkbox>
		    <ion-checkbox class="heading4">Improve Social Life</ion-checkbox>
		    <ion-checkbox class="heading4">Get fit</ion-checkbox>
		    <ion-checkbox class="heading4">Do more good for the world</ion-checkbox>

	  </ion-list>
	   <button ion-fab><a href="#/healthdata">Button</a></button>

  </ion-content>
</ion-view>