<ion-view title="" id="page5">
  <ion-content padding="true" class="has-header">

    <div>
      Would you like to link your Fitbit or Google Fit ?
    </div>
    <div>
    We will use it to personalise recommendations on how to use your rewards !
    </div>

    <form id="page5-form2" class="list">
      <ion-list id="page5-list2">
        <label class="item item-input" id="page5-input3">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page5-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <ion-fab>
      <button id="page5-button2" class="button button-stable button-block" ion-fab><a href="#/tabs/inbox">Log in</a></button>
      <ion-fab>
    </form>
  </ion-content>
</ion-view>