<ion-view title="" id="page5" hide-nav-bar=true>
  <ion-content padding="true" class="has-header">

    <a href="#/inbox"><img class="goals1" src="img/connect2.png"></a>


    <!-- <div class="heading2">Would you like to link your Fitbit or Google Fit ?</div>
    <div class="heading3">
    We will use it to personalise recommendations on how to use your rewards !  
    </div>
    
    <ion-item>
      <ion-input type="number" placeholder="Username"></ion-input>
  </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Password"></ion-input>
    </ion-item></div>
  
     <button ion-fab><a href="#/tabs/inbox">Button</a></button> -->
  </ion-content>
</ion-view>