<ion-view title="" id="page3">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="item item-body" id="page3-list-item-container2">
      <div id="page3-markdown3" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <button id="page3-button1" class="button button-positive  button-block">Tap me!</button>
    <form id="page3-form1" class="list">
      <label class="item item-input" id="page3-input1">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page3-input2">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-checkbox id="page3-checkbox2">Checkbox</ion-checkbox>
      <ion-radio id="page3-radio1">Radio</ion-radio>
    </form>
  </ion-content>
</ion-view>