<ion-view view-title="Redeem">
  <ion-content>
    <img src="">
    <div>Guided Hiking Trip to Breakneck Ridge</div>
    <div>Despite its relatively short length, this is generally considered to be the most strenuous hike in the East Hudson Highlands. It involves steep climbs over rock ledges that can be very slippery when wet. You'll need to use both your hands and your feet in many places along the way. Proper footgear is essential for this hike, which is best done on weekdays, to avoid the crowds on weekends.</div>
    <button ng-click="redeem()"><a href="#/tabs/history">Redeem Now</a></button>
  </ion-content>
</ion-view>
