<ion-view title="" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="page4-heading1" style="color:#000000;">Heading</h1>
    <div id="page4-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <ion-list id="page4-list1">
      <ion-item id="page4-list-item6">Item 1</ion-item>
      <ion-item id="page4-list-item7">Item 2</ion-item>
      <ion-item id="page4-list-item8">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>